@page
@model BookingSuccessModel
@{
}
<ol id="bookingProcess">
    <li><span class="step-number">1</span>Booking</li>
    <li class="current"><span class="step-number">2</span>Receipt</li>
</ol>
<h1>Booking Confirmation</h1>
