@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center" style="background-image:url(../images/Content.png);background-repeat:no-repeat;background-size:cover;">
    <h1 class="display-4">Turbokart</h1>
    <img alt="GreenKart" src="~/images/GreenKart1.png" class="figure-img" height="500" />
    <p>Turbokart er en virksomhed der tilbyder hæsblæsende gokart oplevelser!</p>
</div>
